{% whitespace all %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}trainier{% end %}</title>
    {% block css %}
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {% end %}
</head>
<body>
{% block body %}
{% end %}
<script type="text/javascript" src="/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/axios/axios.min.js"></script>
<script type="text/javascript" src="/vue/vue.min.js"></script>
{% block script %}
{% end %}
</body>
</html>