<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block head %}
        <title>trainier</title>
        <link rel="stylesheet" href="/bulma/bulma.min.css">
        <link rel="stylesheet" href="/fontawesome/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
<script src="/vue/vue.js" type="text/javascript"></script>
<script src="/axios/axios.js" type="text/javascript"></script>
{% block script %}
{% endblock %}
</body>
</html>