{% extends "base/skeleton.html" %}
{% block container %}
    <div class="is-hidden">
        <input id="entity_id" readonly="readonly" value="{{ entity_id }}">
    </div>
    {% raw %}
    <div id="app">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="field-body">
                        <div class="field">
                            <label class="label">编号</label>
                            <p class="control is-expanded">
                                <input class="input is-small" placeholder="编码" v-model="trunk.code">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">等级</label>
                            <p class="control is-expanded">
                                <input class="input is-small" placeholder="等级" v-model="trunk.level">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">英文题目</label>
                    <div class="control">
                        <textarea rows="5" class="textarea is-small" placeholder="English Trunk"
                                  v-model="trunk.en_trunk"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">中文题目</label>
                    <div class="control">
                        <textarea rows="3" class="textarea is-small" placeholder="Chinese Trunk"
                                  v-model="trunk.cn_trunk"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns" v-for="(opt, index) in options" @dblclick="changeAnswer(index)">
            <div class="column is-1">
                <span v-text="`ABCDEFGHIJKL`[index] + `.`"></span>
            </div>
            <div class="column is-5">
                <p class="control has-icons-right">
                    <input class="input is-small" type="text" placeholder="English Option" v-model="opt.en_option"
                           :class="[opt.is_true ? 'is-success' : 'is-danger']">
                    <span class="icon is-small is-right">
                        <i class="fas fa-check" v-if="opt.is_true"></i>
                        <i class="fas fa-times" v-if="!opt.is_true"></i>
                    </span>
                </p>
            </div>
            <div class="column is-5">
                <p class="control has-icons-right">
                    <input class="input is-small" type="text" placeholder="Chinese Option" v-model="opt.cn_option"
                           :class="[opt.is_true ? 'is-success' : 'is-danger']">
                    <span class="icon is-small is-right">
                        <i class="fas fa-check" v-if="opt.is_true"></i>
                        <i class="fas fa-times" v-if="!opt.is_true"></i>
                    </span>
                </p>
            </div>
            <div class="column is-1">
                <div class="buttons has-addons">
                    <span class="button is-small" @click="insertOption(index)"><i class="fas fa-plus"></i></span>
                    <span class="button is-small" @click="removeOption(index)"><i class="fas fa-minus"></i></span>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">详解</label>
                    <div class="control">
                        <textarea rows="5" class="textarea is-small" placeholder="Explanation"
                                  v-model="trunk.analysis"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <textarea rows="3" class="textarea is-small" placeholder="source"
                                          v-model="trunk.source"></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <textarea rows="3" class="textarea is-small" placeholder="comment"
                                          v-model="trunk.comment"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="button is-link is-success is-pulled-right" @click="save()">保存</a>
    </div>
    {% endraw %}
{% endblock %}
{% block script %}
    {% raw %}
    <script type="text/javascript">
        const app = new window.Vue({
            el: '#app',
            data: {

                encodedTrunkId: '',
                trunk: {
                    entity_id: '',
                    en_trunk: '',
                    cn_trunk: '',
                    level: 0,
                    comment: '',
                    analysis: '',
                    source: '',
                },
                options: [
                    {
                        entity_id: '',
                        trunk_id: '',
                        en_option: '',
                        cn_option: '',
                        is_true: false,
                        order_num: 0,
                        comment: '',
                    },
                    {
                        entity_id: '',
                        trunk_id: '',
                        en_option: '',
                        cn_option: '',
                        is_true: false,
                        order_num: 0,
                        comment: '',
                    },
                    {
                        entity_id: '',
                        trunk_id: '',
                        en_option: '',
                        cn_option: '',
                        is_true: false,
                        order_num: 0,
                        comment: '',
                    },
                    {
                        entity_id: '',
                        trunk_id: '',
                        en_option: '',
                        cn_option: '',
                        is_true: false,
                        order_num: 0,
                        comment: '',
                    },
                ],
                pics: [],
            },
            mounted: function () {
                this.encodedTrunkId = window.document.getElementById('entity_id').value;
                this.load();
            },
            methods: {
                load: function () {
                    axios({
                        url: '/api/question/' + this.encodedTrunkId,
                        method: 'GET',
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK') {
                                this.trunk = response.data.trunk;
                                this.options = response.data.options;
                                this.pics = response.data.pics;
                            } else {
                                alert('请求失败，请检查日志');
                            }
                        }.bind(this)
                    ).catch(
                        function (error) {
                            alert('请求失败，请检查日志。' + error);
                        }
                    );
                },
                insertOption: function (idx) {
                    if (this.options.length < 12) {
                        this.options.splice(idx + 1, 0, {
                            entity_id: '',
                            trunk_id: '',
                            en_option: '',
                            cn_option: '',
                            is_true: false,
                        });
                    }
                },
                removeOption: function (idx) {
                    if (this.options.length > 1) {
                        this.options.splice(idx, 1);
                    }
                },
                save: function () {
                    axios({
                        url: '/api/question/' + this.encodedTrunkId,
                        method: 'POST',
                        headers: {
                            'X-HTTP-Method-Override': 'POST',
                        },
                        data: {
                            trunk: this.trunk,
                            options: this.options,
                            pics: this.pics,
                        },
                    }).then(function (response) {
                        if (response.status === 200 && response.statusText === 'OK') {
                            alert('保存成功');
                            window.location.href = './';
                        } else {
                            alert('保存失败，请检查日志');
                        }
                    }.bind(this)).catch(
                        function (error) {
                            alert('保存失败，请检查日志。' + error);
                        }
                    );
                },
                changeAnswer: function (index) {
                    app.options[index].is_true = !app.options[index].is_true;
                },
            },
        });
    </script>
    {% endraw %}
{% endblock %}
