{#
    single trunk:
        code, level
        en_trunk
        cn_trunk
        (options)
        (analysis)
        source, comment

    parent trunk:
        code, level
        en_trunk
        cn_trunk
        source, comment
    child trunk:
        en_trunk
        cn_trunk
        options
        analysis
        comment
#}

{% extends "base/skeleton.html" %}
{% block container %}
    <nav class="navbar"></nav>
    <div id="app">
        <div class="columns">
            <div class="column is-4">
                <div class="field">
                    <label class="label" for="trunk_code">编号</label>
                    <div class="control">
                        <input id="trunk_code" type="text" class="input" v-model="trunk.code">
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <label class="label" for="trunk_level">等级</label>
                    <div class="control">
                        <input id="trunk_level" type="text" class="input" v-model="trunk.level">
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <label class="label">包含子题</label>
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="hasTrunkChild" @change="hasTrunkChildChange()">
                            如果主题干下有数个子题<br/>　请勾选此处
                        </label>
                    </div>
                </div>
            </div>
            <div class="column is-1">
                <div class="field">
                    <label class="label">&nbsp;</label>
                    <div class="control">
                        <a class="button is-link is-success is-pulled-right" @click="save()">保存</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">英文题目</label>
                    <div class="control">
                        <div id="trunk-parent-en"></div>
                        {# CKEditor #}
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">中文题目</label>
                    <div class="control">
                        <div id="trunk-parent-cn"></div>
                        {# CKEditor #}
                    </div>
                </div>
            </div>
        </div>

        <options-component :options.sync="trunk.options" v-if="!hasTrunkChild"></options-component>

        <div class="columns" v-if="!hasTrunkChild">
            <div class="column">
                <div class="field">
                    <label class="label">详解</label>
                    <div class="control">
                        <textarea rows="5" class="textarea is-small" placeholder="Explanation"
                                  v-model="trunk.analysis"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <div class="field">
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <textarea rows="3" class="textarea is-small" placeholder="source"
                                          v-model="trunk.source"></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <textarea rows="3" class="textarea is-small" placeholder="comment"
                                          v-model="trunk.comment"></textarea>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <trunks-component :trunks.sync="trunk.trunks" v-if="hasTrunkChild"></trunks-component>

    </div>
    <footer class="footer has-background-white"></footer>
{% endblock %}
{% block script %}
    {% raw %}
    <script type="text/javascript" src="/ckeditor/classic/ckeditor.js"></script>
    <script type="text/javascript" src="/js/options.js"></script>
    <script type="text/javascript" src="/js/subtrunk.js"></script>
    <script type="text/javascript" src="/js/subtrunks.js"></script>
    <script type="text/javascript">
        const app = new window.Vue({
            el: '#app',
            data: {
                hasTrunkChild: false,
                trunkParentEnEditor: null,
                trunkParentCnEditor: null,
                trunkChildEditors: {},
                encodedTrunkId: '',
                trunk: {
                    entity_id: '',
                    en_trunk: '',
                    cn_trunk: '',
                    level: 0,
                    comment: '',
                    analysis: '',
                    source: '',
                    options: [
                        {
                            entity_id: '',
                            trunk_id: '',
                            en_option: '',
                            cn_option: '',
                            is_true: false,
                            order_num: 0,
                            comment: '',
                        },
                        {
                            entity_id: '',
                            trunk_id: '',
                            en_option: '',
                            cn_option: '',
                            is_true: false,
                            order_num: 0,
                            comment: '',
                        },
                        {
                            entity_id: '',
                            trunk_id: '',
                            en_option: '',
                            cn_option: '',
                            is_true: false,
                            order_num: 0,
                            comment: '',
                        },
                        {
                            entity_id: '',
                            trunk_id: '',
                            en_option: '',
                            cn_option: '',
                            is_true: false,
                            order_num: 0,
                            comment: '',
                        },
                    ],
                },
            },
            mounted: function () {
                this.init();
                let hsh = location.hash.trim();
                if (hsh[0] === '#') {
                    hsh = hsh.substring(1);
                    this.encodedTrunkId = hsh;
                    this.load();
                }
            },
            methods: {
                init: function () {
                    ClassicEditor
                        .create(document.querySelector('#trunk-parent-en'), {
                            toolbar: ['imageUpload'],
                            ckfinder: {
                                uploadUrl: '/upload/',
                            },
                        })
                        .then(editor => {
                            this.trunkParentEnEditor = editor;
                        })
                        .catch(error => {
                            alert(error);
                        });
                    ClassicEditor
                        .create(document.querySelector('#trunk-parent-cn'), {
                            toolbar: ['imageUpload'],
                            ckfinder: {
                                uploadUrl: '/upload/',
                            },
                        })
                        .then(editor => {
                            this.trunkParentCnEditor = editor;
                        })
                        .catch(error => {
                            alert(error);
                        });
                },
                load: function () {
                    axios({
                        url: '/question/api/' + this.encodedTrunkId,
                        method: 'GET',
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK') {
                                this.trunk = response.data.trunk;
                                this.trunkParentEnEditor.setData(this.trunk.en_trunk);
                                this.trunkParentCnEditor.setData(this.trunk.cn_trunk);
                                if (this.hasTrunkChild) {

                                } else {

                                }
                            } else {
                                alert('请求失败，请检查日志');
                            }
                        }.bind(this)
                    ).catch(
                        function (error) {
                            alert('请求失败，请检查日志。' + error);
                        }
                    );
                },
                save: function () {
                    axios({
                        url: '/question/api/' + this.encodedTrunkId,
                        method: 'PUT',
                        data: {
                            trunk: this.trunk,
                            options: this.options,
                            pics: this.pics,
                        },
                    }).then(function (response) {
                        if (response.status === 200 && response.statusText === 'OK') {
                            alert('保存成功');
                            window.location.href = './';
                        } else {
                            alert('保存失败，请检查日志');
                        }
                    }.bind(this)).catch(
                        function (error) {
                            alert('保存失败，请检查日志。' + error);
                        }
                    );
                },
                hasTrunkChildChange: function () {
                    if (this.hasTrunkChild && typeof this.trunk.trunks === 'undefined') {
                        this.trunk.trunks = [{}];
                    }
                },
            },
        });
    </script>
    {% endraw %}
{% endblock %}
