{% extends "base/skeleton.html" %}
{% block container %}
    {% raw %}
    <div class="columns" id="app">
        <div class="column">
            <table class="table is-striped is-narrow is-fullwidth is-hoverable">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>题目（英文）</th>
                    <th>题目（中文）</th>
                    <th>难度</th>
                    <th>
                        <a class="button is-small" href="javascript:void(0);" title="添加">
                        <span class="icon is-small">
                            <i class="fas fa-plus"></i>
                        </span>
                        </a>
                        <input class="input is-small" type="text" style="width: 100px;" v-model="kw">
                    </th>
                </tr>
                </thead>
                <tfoot>
                <page-component v-bind:conf.sync="pageConf"></page-component>
                </tfoot>
                <tbody>
                <tr v-for="(item, idx) in data">
                    <td>
                        <a href="javascript:void(0);"
                           v-text="(pageConf.currentPage - 1) * pageConf.itemsPerPage + idx + 1"
                           @click="view(item.entityId)"></a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" v-text="item.enTrunk" @click="view(item.entityId)"></a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" v-text="item.cnTrunk" @click="view(item.entityId)"></a>
                    </td>
                    <td>
                        <a href="javascript:void(0);" v-text="item.level" @click="view(item.entityId)"></a>
                    </td>
                    <td>
                        <a class="button is-small" href="javascript:void(0);" title="编辑" @click="edit(item.entityId)">
                        <span class="icon is-small">
                            <i class="fas fa-edit"></i>
                        </span>
                        </a>
                        <a class="button is-small" href="javascript:void(0);" title="删除" @click="remove(item.entityId)">
                        <span class="icon is-small">
                            <i class="fas fa-minus"></i>
                        </span>
                        </a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

    {% endraw %}
{% endblock %}
{% block script %}
    {% raw %}
    <script src="/vue/vue.js" type="text/javascript"></script>
    <script src="/vue/resource/vue-resource.js" type="text/javascript"></script>
    <script src="/js/page.js"></script>
    <script>
        const app = new window.Vue({
            el: '#app',
            data: {
                data: [],
                pageConf: {
                    currentPage: 1,
                    totalItems: 1000,
                    itemsPerPage: 10,
                    pagesLength: 9,
                    perPageOptions: [10, 15, 30, 50, 100],
                    onChange: 'list',
                },
                keyword: '',
                kw: '',
            },
            methods: {
                list: function () {
                    window.Vue.http.post(
                        '/api/q/',
                        {
                            page: this.pageConf.currentPage,
                            size: this.pageConf.itemsPerPage,
                            keyword: this.keyword,
                        },
                    ).then(
                        function (response) {
                            if (response.ok) {
                                let t = response.body;
                                app.pageConf.currentPage = t.page;
                                app.pageConf.totalItems = t.total;
                                app.pageConf.itemsPerPage = t.size;
                                app.data = t.data;
                            } else {
                                alert('请求服务失败，请检查日志');
                            }

                        },
                        function (response) {
                            alert('请求服务失败，请检查日志');
                        }
                    );
                },
                add: function () {

                },
                view: function (entityId) {
                    window.location.href = '/question/' + entityId;
                },
                edit: function (entityId) {
                    window.location.href = ''
                },
                remove: function (entityId) {
                    alert('现在还不能删除哟');
                },
            },
        });
    </script>

    {% endraw %}
{% endblock %}