{% extends "base/skeleton.html" %}
{% block container %}
    <div class="is-hidden">
        <input id="entityId" readonly="readonly" value="{{ entity_id }}">
    </div>
    {% raw %}
    <div id="app">
        <div class="columns">
            <div class="column is-1">
                <label class="label">编号</label>
            </div>
            <div class="column is-5">
                <pre v-text="trunk.code"></pre>
            </div>
            <div class="column is-1">
                <label class="label">等级</label>
            </div>
            <div class="column is-5">
                <pre v-text="trunk.level"></pre>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="field" v-if="trunk.en_trunk.length > 0">
                    <label class="label">英文题目</label>
                    <div class="control">
                        <pre v-text="trunk.en_trunk"></pre>
                    </div>
                </div>
                <div class="field" v-if="trunk.cn_trunk.length > 0">
                    <label class="label">中文题目</label>
                    <div class="control">
                        <pre v-text="trunk.cn_trunk"></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns" v-for="(opt, index) in options">
            <div class="column is-1">
                <span class="icon is-right">
                    <i class="fas fa-check is-true" v-if="opt.is_true"></i>
                    <i class="fas fa-times is-false" v-if="!opt.is_true"></i>
                </span>
            </div>
            <div class="column is-1">
                <span :class="[opt.is_true ? 'is-true' : 'is-false']" v-text="`ABCDEFGHIJKL`[index] + `.`"></span>
            </div>
            <div class="column is-5">
                <p class="control" v-text="opt.en_option"></p>
            </div>
            <div class="column is-5">
                <p class="control" v-text="opt.cn_option"></p>
            </div>
        </div>
        <div class="field" v-if="trunk.analysis.length > 0">
            <label class="label">详解</label>
            <div class="control">
                <pre v-text="trunk.analysis"></pre>
            </div>
        </div>
        <div class="field" v-if="trunk.source.length > 0">
            <label class="label">来源</label>
            <div class="control">
                <pre v-text="trunk.source"></pre>
            </div>
        </div>
        <div class="field" v-if="trunk.comment.length > 0">
            <label class="label">备注</label>
            <div class="control">
                <pre v-text="trunk.comment"></pre>
            </div>
        </div>


        <a class="button is-link is-success is-pulled-right" @click="ok()">确定</a>
    </div>
    {% endraw %}
{% endblock %}
{% block script %}
    {% raw %}
    <script type="text/javascript">
        const app = new window.Vue({
            el: '#app',
            data: {

                encodedTrunkId: '',
                trunk: {
                    entity_id: '',
                    code: '',
                    en_trunk: '',
                    cn_trunk: '',
                    level: 0,
                    comment: '',
                    analysis: '',
                    source: '',
                },
                options: [],
                pics: [],
            },
            mounted: function() {
                this.encodedTrunkId = window.document.getElementById('entity_id').value;
                this.load();
            },
            methods: {
                load: function () {
                    axios({
                        url: '/api/question/' + this.encodedTrunkId,
                        method: 'GET',
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK') {
                                this.trunk = response.data.trunk;
                                this.options = response.data.options;
                                this.pics = response.data.pics;
                            } else {
                                alert('请求失败，请检查日志');
                            }
                        }.bind(this)
                    ).catch(
                        function (error) {
                            alert('请求失败，请检查日志。' + error);
                        }
                    );
                },
                ok: function () {
                    window.history.back(-1);
                },
            },
        });
    </script>
    {% endraw %}
{% endblock %}
