* {
    font-family: Georgia, "Times New Roman",
    "Microsoft YaHei", "微软雅黑",
    STXihei, "华文细黑",
    serif;
}

.is-true {
    color: green;
}

.is-false {
    color: red;
}

pre {
    /*border: black solid 1px;*/
    background-color: #cccccc;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

.trunk-index {
    height: 45px;
    width: 45px;
    border: black solid 1px;
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}