{% extends "base/base.html" %}
{% whitespace all %}
{% block body %}
    <div class="container py-4" id="app">
        <button type="button" class="btn btn-primary btn-sm float-right" @click="save()">保存</button>
        <form class="form-inline pb-3">
            <div class="form-group">
                <label>测验编号</label>
                <input type="text" class="form-control form-control-sm mx-sm-3" id="quiz_code" placeholder="测验编号" v-model="quiz.code">
            </div>
            <div class="form-group">
                <label>测验名称</label>
                <input type="text" class="form-control form-control-sm mx-sm-3" id="quiz_level" placeholder="测验名称" v-model="quiz.name">
            </div>
            <div class="form-check px-sm-2">
                <input class="form-check-input" type="checkbox" id="random_trunk" title="题目前后有关联的情况下不建议开启" v-model="quiz.random_trunk">
                <label class="form-check-label" for="random_trunk" title="题目前后有关联的情况下不建议开启">
                    随机题目顺序
                </label>
            </div>
            <div class="form-check px-sm-2">
                <input class="form-check-input" type="checkbox" id="random_choice" title="选项前后有有序的情况下不建议开启" v-model="quiz.random_choice">
                <label class="form-check-label" for="random_choice" title="选项前后有有序的情况下不建议开启">
                    随机选项顺序
                </label>
            </div>
        </form>
        <form>
            <div class="form-group">
                <label for="comment">备注</label>
                <textarea id="comment" class="form-control form-control-sm" rows="3" v-model="quiz.comment"></textarea>
            </div>
        </form>
        <div class="row">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <td colspan="5">
                            <page-component ref="pageComponent" :conf.sync="pageConf" @onchange="list"></page-component>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="p-0 m-0" title="仅显示已选">
                                <input type="checkbox" id="only_selected" v-model="onlyShowSelected">
                                已选
                            </label>
                        </td>
                        <td colspan="4">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="text" v-model="kwBind" @keyup.enter="search()">
                                <div class="input-group-append">
                                    <a class="btn btn-sm btn-outline-secondary" title="查找" @click="search()">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label class="p-0 m-0">
                                <input type="checkbox" id="select_all" v-model="selectAll">
                                全选
                            </label>
                        </th>
                        <th>序号</th>
                        <th>编号</th>
                        <th>题目（英文）</th>
                        <th>题目（中文）</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <page-component :conf.sync="pageConf" @onchange="list"></page-component>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr v-for="(item, idx) in trunks">
                        <td>
                            <label>
                                <input type="checkbox" :value="item.entity_id" v-model="selLst">
                            </label>
                        </td>
                        <td>
                            <a :href="`view.html?id=` + item.entity_id" target="_blank" v-text="(pageConf.currentPage - 1) * pageConf.itemsPerPage + idx + 1"></a>
                        </td>
                        <td>
                            <a :href="`view.html?id=` + item.entity_id" target="_blank" v-text="item.code"></a>
                        </td>
                        <td colspan="2" v-if="item.x_trunk.length > 0">
                            <a :href="`view.html?id=` + item.entity_id" target="_blank" :title="item.x_trunk" v-text="item.x_trunk_digest"></a>
                        </td>
                        <td v-if="item.x_trunk.length == 0">
                            <a :href="`view.html?id=` + item.entity_id" target="_blank" :title="item.en_trunk" v-text="item.en_trunk_digest"></a>
                        </td>
                        <td v-if="item.x_trunk.length == 0">
                            <a :href="`view.html?id=` + item.entity_id" target="_blank" :title="item.cn_trunk" v-text="item.cn_trunk_digest"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% end %}
{% block script %}
    <script src="/js/page.js"></script>
    <script src="/js/common.js"></script>
    <script type="text/javascript">
        window.app = new window.Vue({
            el: '#app',
            data: {
                quiz: {},
                trunks: [],
                onlyShowSelected: true,
                selLst: [],
                pageConf: {
                    currentPage: 1,
                    totalItems: 0,
                    itemsPerPage: 10,
                    pagesLength: 9,
                    perPageOptions: [10, 15, 30, 50, 100],
                },
                keyword: '',
                kwBind: '',
            },
            computed: {
                selectAll: {
                    get() {
                        let allIn = true;
                        let selSet = new Set(this.selLst);
                        for (let t of this.trunks) {
                            if (!selSet.has(t.entity_id)) {
                                allIn = false;
                                break;
                            }
                        }
                        return allIn;
                    },
                    set(val) {
                        let selSet = new Set(this.selLst);
                        if (val) {
                            for (let t of this.trunks) {
                                selSet.add(t.entity_id);
                            }
                        } else {
                            for (let t of this.trunks) {
                                selSet.delete(t.entity_id);
                            }
                        }
                        this.selLst = Array.from(selSet).sort();
                    },
                },
            },
            watch: {
                onlyShowSelected(val, oldVal) {
                    this.list();
                },
            },
            mounted() {
                let id = getUrlParam('id');
                if (id !== null) {
                    this.quiz.entity_id = id;
                    this.load();
                } else {
                    this.quiz.entity_id = '';
                }
            },
            methods: {
                initSync() {
                    this.selLst = [];
                    for (let s0 of this.quiz.questions) {
                        let s1 = s0.trim();
                        if (s1.length > 0) {
                            this.selLst.push(s1);
                        }
                    }
                    this.list();
                },
                load() {
                    axios({
                        url: `/api/quiz/${this.quiz.entity_id}`,
                        method: 'GET',
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK' && response.data.result) {
                                this.quiz = response.data.quiz;
                                this.initSync();
                            } else {
                                alert('请求失败，请检查日志');
                            }
                        }.bind(this)
                    ).catch(
                        function (error) {
                            alert('请求失败，请检查日志。' + error);
                        }
                    );
                },
                list(uid) {
                    if (typeof uid !== 'undefined' && uid !== this.$refs.pageComponent._uid) {
                        return;
                    }
                    let data = {
                        page: this.pageConf.currentPage,
                        size: this.pageConf.itemsPerPage,
                        keyword: this.keyword,
                        ids: null,
                    };
                    if (this.onlyShowSelected) {
                        this.selLst = Array.from(new Set(this.selLst)).sort(); // 翻页时将其精简一下
                        data.ids = this.selLst;
                    }
                    axios({
                        method: 'POST',
                        url: '/api/question/',
                        data: data,
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK' && response.data.result) {
                                let t = response.data;
                                // 进行简化处理
                                let trunks = t.trunks;
                                digest(trunks);
                                this.trunks = trunks;
                                // 分页器赋值
                                this.pageConf.totalItems = t.count;
                            } else {
                                alert('请求服务失败，请检查日志');
                            }

                        }.bind(this)).catch(
                        (error) => {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                save() {
                    // 将 selSet 排序后写入 quiz.questions
                    this.quiz.questions = Array.from(new Set(this.selLst)).sort();
                    console.debug(this.quiz.questions);
                    axios({
                        url: `/api/quiz/${this.quiz.entity_id}`,
                        method: 'POST',
                        headers: {
                            'X-HTTP-Method-Override': 'PUT'
                        },
                        data: {
                            quiz: this.quiz,
                        },
                    }).then(function (response) {
                        if (response.status === 200 && response.statusText === 'OK' && response.data.result) {
                            alert('保存成功');
                            window.location.href = './';
                        } else {
                            alert('保存失败，请检查日志');
                        }
                    }.bind(this)).catch(
                        (error) => {
                            alert('保存失败，请检查日志。' + error);
                        }
                    );
                },
                search() {
                    if (this.keyword !== this.kw.trim()) {
                        this.keyword = this.kw.trim();
                        this.list();
                    }
                },
            },
        });
    </script>
{% end %}
