{% extends "base/skeleton.html" %}
{% block container %}
    {% raw %}
    <div id="app">
        <div class="columns">
            <div class="column is-4">
                <div class="field">
                    <label class="label">测验编码</label>
                    <p class="control">
                        <input class="input is-small" placeholder="code" v-model="quiz.code">
                    </p>
                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <label class="label">测验名称</label>
                    <p class="control">
                        <input class="input is-small" placeholder="name" v-model="quiz.name">
                    </p>
                </div>
            </div>
            <div class="column is-2">
                <div class="field">
                    <label class="label">&nbsp;</label>
                    <p class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="quiz.random_trunk">
                            <strong>随机题目顺序</strong>
                        </label>
                    </p>
                </div>
            </div>
            <div class="column is-2">
                <div class="field">
                    <label class="label">&nbsp;</label>
                    <p class="control">
                        <label class="checkbox">
                            <input type="checkbox" v-model="quiz.random_choice">
                            <strong>随机选项顺序</strong>
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <table class="table is-striped is-narrow is-fullwidth is-hoverable">
                    <thead>
                    <tr>
                        <td colspan="5">
                            <page-component :conf.sync="pageConf"></page-component>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" v-model="onlyShowSelected">
                                <strong>仅已选</strong>
                            </label>
                        </td>
                        <td colspan="3">
                            <input class="input is-small" type="text" v-model="kw" @keyup.enter="search()">
                        </td>
                        <td><a class="button is-small" title="查找" @click="search()">
                            <i class="fas fa-search"></i>
                        </a></td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox" v-model="selectAll">
                                <strong>全选</strong>
                            </label>
                        </th>
                        <th>编号</th>
                        <th>编码</th>
                        <th>题目（英文）</th>
                        <th>题目（中文）</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <page-component :conf.sync="pageConf"></page-component>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr v-for="(trunk, idx) in trunks">
                        <td>
                            <input type="checkbox" :value="trunk.entity_id" v-model="selLst">
                        </td>
                        <td>
                            <a :href="`view#` + trunk.entity_id" target="_blank"
                               v-text="(pageConf.currentPage - 1) * pageConf.itemsPerPage + idx + 1"></a>
                        </td>
                        <td>
                            <a :href="`view#` + trunk.entity_id" target="_blank" v-text="trunk.code"></a>
                        </td>
                        <td colspan="2" v-if="trunk.x_trunk.length > 0">
                            <a :href="`view#` + trunk.entity_id" target="_blank" :title="trunk.x_trunk"
                               v-text="trunk.x_trunk_digest"></a>
                        </td>
                        <td v-if="trunk.x_trunk.length == 0">
                            <a :href="`view#` + trunk.entity_id" target="_blank" :title="trunk.en_trunk"
                               v-text="trunk.en_trunk_digest"></a>
                        </td>
                        <td v-if="trunk.x_trunk.length == 0">
                            <a :href="`view#` + trunk.entity_id" target="_blank" :title="trunk.cn_trunk"
                               v-text="trunk.cn_trunk_digest"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a class="button is-link is-success is-pulled-right" @click="save()">保存</a>
    </div>

    {% endraw %}
{% endblock %}
{% block script %}
    {% raw %}
    <script src="/js/page.js"></script>
    <script src="/js/common.js"></script>
    <script type="text/javascript">
        /*
        数据流：
            load 时，将question_id写入 selSet 与 selLst
            平时是由 selLst 同步至 selSet // 只同步add / remove 动作
            保存时，仅保存 selSet （将 selSet （排序后？）写入 quiz.questions）
         */
        const app = new window.Vue({
            el: '#app',
            data: {
                toSync: false,
                quiz: {},
                trunks: [],
                onlyShowSelected: true,
                selectAll: false,
                selLst: [],
                selSet: new Set(),
                pageConf: {
                    currentPage: 1,
                    totalItems: 1000,
                    itemsPerPage: 10,
                    pagesLength: 9,
                    perPageOptions: [10, 15, 30, 50, 100],
                    onChange: 'list',
                },
                keyword: '',
                kw: '',
            },
            watch: {
                onlyShowSelected: function (val, oldVal) {
                    this.list();
                },
                selectAll: function (val, oldVal) {
                    if (this.toSync) {
                        if (val) {
                            for (let t of this.trunks) {
                                let _in = false;
                                let id = t.entity_id;
                                for (let e of this.selLst) {
                                    if (e === id) {
                                        _in = true;
                                        break;
                                    }
                                }
                                if (!_in) {
                                    this.selLst.push(id);
                                }
                            }
                        } else {
                            let n = this.selLst.length;
                            this.selLst.slice(0, n)
                        }
                    }
                    /*
                    if (val) {
                        for (let t of this.trunks) {
                            if (!this.selSet.has(t.entity_id)) {
                                this.selLst.push(t.entity_id);
                            }
                        }
                    } else {
                        for (let t of this.trunks) {
                            if (this.selSet.has(t.entity_id)) {
                                let idx = -1;
                                for (let i = 0; i < this.selLst.length; i++) {
                                    let e = this.selLst[i];
                                    if (e === t.entity_id) {
                                        idx = i;
                                        break;
                                    }
                                }
                                if (idx >= 0) {
                                    this.selLst.slice(idx, 1)
                                }
                            }
                        }
                    }
                    */
                },
                selLst: function (val, oldVal) {
                    if (this.toSync) {
                        //console.debug(oldVal);
                        //console.debug(val);
                        let lst0 = oldVal;
                        let lst1 = val;
                        if (val.length < oldVal.length) {
                            lst0 = val;
                            lst1 = oldVal;
                        }
                        let set0 = new Set(lst0);
                        let set1 = new Set(lst1);
                        let set = new Set();
                        for (let e of set1) {
                            if (!set0.has(e)) {
                                set.add(e)
                            }
                        }
                        for (let e of set) {
                            if (this.selSet.has(e)) {
                                this.selSet.delete(e);
                            } else {
                                this.selSet.add(e);
                            }
                        }
                        //console.debug(this.selSet);
                        this.selectAll = this.selLst.length === this.pageConf.itemsPerPage;
                    }

                }
            },
            mounted: function () {
                let hsh = location.hash.trim();
                if (hsh[0] === '#') {
                    hsh = hsh.substring(1);
                    this.quiz.entity_id = hsh;
                    this.load();
                } else {
                    this.quiz.entity_id = '';
                }
            },
            methods: {
                initSync: function() {
                    this.selLst = [];
                    this.selSet = new Set();
                    for (let s0 of this.quiz.questions) {
                        let s1 = s0.trim();
                        if (s1.length > 0) {
                            this.selSet.add(s1);
                            this.selLst.push(s1);
                        }
                    }
                },
                load: function () {
                    axios({
                        url: '/quiz/api/' + this.quiz.entity_id,
                        method: 'GET',
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK') {
                                this.quiz = response.data.quiz;
                                this.initSync();
                            } else {
                                alert('请求失败，请检查日志');
                            }
                        }.bind(this)
                    ).catch(
                        function (error) {
                            alert('请求失败，请检查日志。' + error);
                        }
                    );
                },
                list: function () {
                    let data = {
                        page: this.pageConf.currentPage,
                        size: this.pageConf.itemsPerPage,
                        keyword: this.keyword,
                        ids: null,
                    };
                    if (this.onlyShowSelected) {
                        // 从 quiz.questions 中选择
                        data.ids = Array.from(this.selSet);
                        //console.debug(data);
                    }
                    axios({
                        method: 'POST',
                        url: '/question/api/',
                        data: data,
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK') {
                                let t = response.data;
                                // 进行简化处理
                                let trunks = t.data;
                                digest(trunks);
                                // 同步页面元素
                                this.toSync = false;
                                let sl = [];
                                for (let t of trunks) {
                                    if (this.selSet.has(t.entity_id)) {
                                        sl.push(t.entity_id);
                                    }
                                }
                                this.selLst = sl;
                                this.toSync = true;
                                //this.markList(trunks);
                                // 分页器赋值
                                this.pageConf.currentPage = t.page;
                                this.pageConf.totalItems = t.total;
                                this.pageConf.itemsPerPage = t.size;
                                this.keyword = t.keyword;
                                this.trunks = trunks;
                            } else {
                                alert('请求服务失败，请检查日志');
                            }

                        }.bind(this)).catch(
                        function (error) {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                save: function () {
                    // 将 selSet 排序后写入 quiz.questions
                    let lst = Array.from(this.selSet);
                    this.quiz.questions = lst.sort();
                    console.debug(this.quiz.questions);
                    axios({
                        url: '/quiz/api/' + this.quiz.entity_id,
                        method: 'PUT',
                        data: {
                            quiz: this.quiz,
                        },
                    }).then(function (response) {
                        if (response.status === 200 && response.statusText === 'OK') {
                            alert('保存成功');
                            window.location.href = './';
                        } else {
                            alert('保存失败，请检查日志');
                        }
                    }.bind(this)).catch(
                        function (error) {
                            alert('保存失败，请检查日志。' + error);
                        }
                    );
                },
                search: function () {
                    if (this.keyword !== this.kw.trim()) {
                        this.keyword = this.kw.trim();
                        this.list();
                    }
                },
                changeSelectList: function (trunk) {
                    alert(trunk.selected);
                    if (trunk.selected && !this.selSet.has(trunk.entity_id)) {
                        this.selLst.push(trunk.entity_id);
                        return;
                    }
                    if (!trunk.selected && this.selSet.has(trunk.entity_id)) {
                        for (let i = 0; i < this.selLst.length; i++) {
                            if (this.selLst[i] === trunk.entity_id) {
                                this.selLst.splice(i, 1);
                                break;
                            }
                        }
                    }
                },
            },
        });
    </script>
    {% endraw %}
{% endblock %}
