{% extends "base/base.html" %}
{% whitespace all %}
{% block body %}
    <div class="container py-4" id="app">
        <div class="row">
            <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td colspan="5">
                        <page-component ref="pageComponent" :conf.sync="pageConf" @change="list"></page-component>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div class="input-group">
                            <input class="form-control form-control-sm" type="text" v-model="kwBind" @keyup.enter="search()">
                            <div class="input-group-append">
                                <a class="btn btn-sm btn-outline-secondary" title="查找" @click="search()">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>序号</th>
                    <th>编码</th>
                    <th>名称</th>
                    <th>数量</th>
                    <th>
                        <a href="edit.html" target="_blank" title="添加">
                            <i class="fas fa-plus"></i>
                        </a>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <page-component :conf.sync="pageConf" @change="list"></page-component>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                <tr v-for="(item, idx) in data">
                    <td>
                        <a :href="`view.html?id=` + item.entity_id"
                           target="_blank"
                           v-text="(pageConf.currentPage - 1) * pageConf.itemsPerPage + idx + 1"
                           :title="item.comment"></a>
                    </td>
                    <td>
                        <a :href="`view.html?id=` + item.entity_id" target="_blank" v-text="item.code" :title="item.comment"></a>
                    </td>
                    <td>
                        <a :href="`view.html?id=` + item.entity_id" target="_blank" v-text="item.name" :title="item.comment"></a>
                    </td>
                    <td>
                        <a :href="`view.html?id=` + item.entity_id" target="_blank" v-text="item.count" :title="item.comment"></a>
                    </td>
                    <td>
                        <a title="编辑" :href="`edit.html?id=` + item.entity_id" target="_blank">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a title="删除" @click="remove(item.entity_id)" href="javascript:void(0);">
                                <i class="fas fa-minus"></i>
                            </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% end %}
{% block script %}
    <script src="/js/page.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script>
        window.app = new window.Vue({
            el: '#app',
            data: {
                data: [],
                pageConf: {
                    currentPage: 1,
                    totalItems: 0,
                    itemsPerPage: 10,
                    pagesLength: 9,
                    perPageOptions: [10, 15, 30, 50, 100, 250],
                },
                keyword: '',
                kwBind: '',
            },
            created() {
                let page = getUrlParam('p');
                let size = getUrlParam('s');
                let keyword = getUrlParam('k');
                if (page != null) {
                    this.pageConf.currentPage = page;
                }
                if (size != null) {
                    this.pageConf.itemsPerPage = size;
                }
                if (keyword != null) {
                    this.kwBind = keyword;
                    this.keyword = keyword;
                }
            },
            methods: {
                list(uid) {
                    if (uid !== this.$refs.pageComponent._uid) {
                        return;
                    }
                    // 查询
                    let data = {
                        page: this.pageConf.currentPage,
                        size: this.pageConf.itemsPerPage,
                        keyword: this.keyword,
                    };
                    axios({
                        method: 'POST',
                        url: '/api/quiz/',
                        data: {
                            page: this.pageConf.currentPage,
                            size: this.pageConf.itemsPerPage,
                            keyword: this.keyword,
                        },
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK' && response.data.result) {
                                let t = response.data;
                                this.pageConf.totalItems = t.count;
                                this.data = t.quizzes;
                                // 修改url
                                if (history && history.pushState) {
                                    let href = `${window.location.pathname}?p=${this.pageConf.currentPage}&s=${this.pageConf.itemsPerPage}&k=${this.keyword}`;
                                    //console.debug(location.pathname);
                                    window.history.pushState(null, document.title, href);
                                }
                            } else {
                                alert('请求服务失败，请检查日志');
                            }

                        }.bind(this)).catch(
                        function (error) {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                remove(entity_id) {
                    console.debug(entity_id);
                    alert('现在还不能删除哟');
                },
                search() {
                    if (this.keyword !== this.kwBind.trim()) {
                        this.keyword = this.kwBind.trim();
                        this.list();
                    }
                },
            },
        });
    </script>
{% end %}
