{% extends "base/base.html" %}
{% whitespace all %}
{% block body %}
    <div class="container-fluid" id="app">
        <div class="row">
            <nav class="col-sm-2 navbar d-flex align-content-start">
                <div class="col-sm-12 d-flex flex-wrap">
                    <div class="m-sm-1 d-flex align-items-center justify-content-center trunk-index" v-for="(item, idx) in index" @click="switchTo(idx)">
                        <a v-text="idx+1" href="javascript:void(0);"></a>
                    </div>
                </div>
            </nav>
            <div class="container py-4">
                <div class="float-right">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-info" href="javascript:void(0);" @click="submit()">提交</a>
                        <a class="btn btn-sm btn-info" href="javascript:void(0);" @click="quit()">退出</a>
                        <a class="btn btn-sm btn-info"><i class="fas fa-angle-left"></i></a>
                        <a class="btn btn-sm btn-info"><i class="fas fa-angle-right"></i></a>
                    </div>
                </div>

                <form class="form-inline pb-3">
                    <div class="form-group">
                        <label>题目编号</label>
                        <pre class="mx-sm-3" v-text="trunk.code"></pre>
                    </div>
                    <div class="form-group">
                        <label>重要程度</label>
                        <pre class="mx-sm-3" v-text="trunk.level"></pre>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="marked" type="checkbox" title="标记" v-model="current.marked">
                        <label class="form-check-label" for="marked" title="标记">
                            标记
                        </label>
                    </div>
                </form>
                <form>
                    <div class="form-group" v-if="trunk.en_trunk_len>0">
                        <label for="en_trunk">英文题目</label>
                        <ckeditor id="en_trunk" type="classic" v-model="trunk.en_trunk" :config="config" :readonly="config.readonly"></ckeditor>
                    </div>
                    <div class="form-group" v-if="trunk.cn_trunk_len>0">
                        <label for="cn_trunk">中文题目</label>
                        <ckeditor id="cn_trunk" type="classic" v-model="trunk.cn_trunk" :config="config" :readonly="config.readonly"></ckeditor>
                    </div>

                    <div v-if="!hasTrunkChild">
                        <quiz-options-component :trunk="trunk" :answer_wrapper.sync="current"></quiz-options-component>
                    </div>

                    <div v-if="hasTrunkChild">
                        <div v-for="(trunkChild, idx) in trunkChildren">
                            <hr/>
                            <div class="row">
                                <strong class="col" v-text="`第` + (idx+1) + `题`"></strong>
                            </div>
                            <div class="form-group" v-if="trunkChild.en_trunk_len>0">
                                <label>英文题目</label>
                                <ckeditor type="classic" v-model="trunkChild.en_trunk" :config="config" :readonly="config.readonly"></ckeditor>
                            </div>
                            <div class="form-group" v-if="trunkChild.cn_trunk_len>0">
                                <label>中文题目</label>
                                <ckeditor type="classic" v-model="trunkChild.cn_trunk" :config="config" :readonly="config.readonly"></ckeditor>
                            </div>
                            <quiz-options-component :trunk="trunkChild" :answer_wrapper.sync="current"></quiz-options-component>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% end %}
{% block script %}
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/ckeditor/classic/ckeditor.js"></script>
    <script type="text/javascript" src="/ckeditor/vue-ckeditor5.js"></script>
    <script type="text/javascript" src="/js/quiz_options.js"></script>
    <script>
        window.Vue.use(VueCkeditor.plugin, {
            editors: {
                classic: ClassicEditor,
            },
            name: 'ckeditor'
        });

        window.app = new window.Vue({
            el: '#app',
            data: {
                quizId: '',
                index: [
                    {
                        a: 0, // answer
                        m: 0, // marked
                    },
                ],
                current: {
                    index: 0,
                    answer: {'': [],},
                    marked: 0,
                },
                trunk: {
                    entity_id: '',
                    code: 'code',
                    level: 'level',
                    source: 'source',
                    en_trunk: 'en_trunk',
                    cn_trunk: 'cn_trunk',
                    options: [],
                },
                hasTrunkChild: false,
                config: {
                    toolbar: [],
                    readonly: true,
                },
            },
            mounted() {
                this.quizId = getUrlParam('id');
                if (this.quizId !== null) {
                    this.switchTo(0, {index: 0,});
                }
            },
            methods: {
                switchTo(idx, current=null) {
                    this.current.answer = Object.assign({}, this.current.answer); // 有时候变量结构有些问题，导致后台取不到数据。如果深度复制创建一个新对象，后台就能取到

                    let data = {
                        action: 'switch',
                        switch: idx,
                        current: current === null ? this.current : current,
                    };
                    axios({
                        method: 'POST',
                        url: `/api/quiz/take?id=${this.quizId}`,
                        data: data,
                    }).then(
                        function (response) {
                            if (response.status === 200 &&
                                response.statusText === 'OK' &&
                                response.data.result) {
                                this.current = response.data.current;
                                this.index = response.data.index;
                                this.trunk = response.data.trunk;
                                if (typeof this.current.answer[''] != "undefined") {
                                    delete this.current.answer[''];
                                }
                                if (typeof this.trunk.trunks === 'undefined') {
                                    this.hasTrunkChild = false;
                                    let t = typeof this.current.answer[this.trunk.entity_id];
                                    if (this.trunk.multi_choice && t !== 'object') {
                                        this.current.answer[this.trunk.entity_id] = [];
                                    }
                                    if (!this.trunk.multi_choice && t !== 'string') {
                                        this.current.answer[this.trunk.entity_id] = '';
                                    }
                                    //if ((t !== 'string' && t !== 'object') ||
                                    //    (t === 'string' && this.current.answer[this.trunk.entity_id].length === 0)) {
                                    //    this.current.answer[this.trunk.entity_id] = [];
                                    //}
                                    //console.debug(this.current.answer[this.trunk.entity_id]);
                                    mergeOptions(this.trunk.options);
                                } else {
                                    //console.debug(this.current.answer);
                                    this.hasTrunkChild = true;
                                    this.trunkChildren = this.trunk.trunks;
                                    for (let tc of this.trunkChildren) {
                                        //console.debug(typeof this.current.answer[tc.entity_id]);
                                        let t = typeof this.current.answer[tc.entity_id];
                                        //console.debug(`${tc.mul}`);
                                        if (tc.multi_choice && t !== 'object') {
                                            this.current.answer[tc.entity_id] = [];
                                        }
                                        if (!tc.multi_choice && t !== 'string') {
                                            this.current.answer[tc.entity_id] = '';
                                        }
                                        //if ((t !== 'object' && t !== 'string') ||
                                        //    (t === 'string' && this.current.answer[tc.entity_id].length === 0)) {
                                        //    this.current.answer[tc.entity_id] = [];
                                        //}
                                        //console.debug(this.current.answer[tc.entity_id]);
                                        mergeOptions(tc.options)
                                    }
                                }
                            } else {
                                alert('请求服务失败，请检查日志');
                            }
                        }.bind(this)).catch(
                        (error) => {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                quit() {
                    let r = confirm('退出的话会导致该次测验结果丢失。确实要退出吗？');
                    if (!r) {
                        return;
                    }
                    r = confirm('再次确认，确实要退出吗？');
                    if (!r) {
                        return;
                    }
                    axios({
                        method: 'POST',
                        url: `/api/quiz/take?id=${this.quizId}`,
                        data: {
                            action: 'quit',
                        },
                    }).then(
                        function (response) {
                            if (response.status === 200 &&
                                response.statusText === 'OK' &&
                                response.data.result) {
                                alert('成功退出。');
                                window.opener=null;
                                window.open('','_self');
                                window.close();
                            } else {
                                alert('请求服务失败，请检查日志');
                            }
                        }.bind(this)).catch(
                        (error) => {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                submit() {
                    // 检查未完成题目、检查被标记题目
                    let prefix = '';
                    for (let q of this.index) {
                        if (!q.a) {
                            prefix = '还有题目未完成。';
                            break;
                        }
                    }
                    if (prefix.length === 0) {
                        for (let q of this.index) {
                            if (q.m) {
                                prefix = '还有题目被标记。';
                                break;
                            }
                        }
                    }
                    let r = confirm(prefix + '确实要提交吗？');
                    if (!r) {
                        return;
                    }
                    r = confirm(prefix + '再次确认，确实要提交吗？');
                    if (!r) {
                        return;
                    }
                    let data = {
                        action: 'submit',
                        current: this.current,
                    }; // 最后还要提交一次结果
                    axios({
                        method: 'POST',
                        url: `/api/quiz/take?id=${this.quizId}`,
                        data: data,
                    }).then(
                        function (response) {
                            if (response.status === 200 &&
                                response.statusText === 'OK' &&
                                response.data.result) {
                                alert('成功退出。');
                                window.opener=null;
                                window.open('','_self');
                                window.close();
                            } else {
                                alert('请求服务失败，请检查日志');
                            }
                        }.bind(this)).catch(
                        (error) => {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                change(arg) {
                    console.debug(arg);
                    this.current.answer[arg.trunk] = arg.answer;
                    console.debug(this.current.answer);
                },
            },
        });
    </script>
{% end %}
