{% extends "base/skeleton.html" %}
{% block container %}
    {% raw %}
    <div id="app">
        <div id="take_quiz" v-if="isTaking()">
            <nav class="navbar">
                <div class="navbar-menu">
                    <div class="navbar-item is-expanded">
                        <progress class="progress is-small" :value="15" max="100" v-text="">15%</progress>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button" @click="submit()">交卷</a>
                                <a class="button" @click="exit()">退出</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="columns"><!-- 题目索引 -->
                <div class="column is-12">
                    <div class="buttons">
                        <a class="button"
                           v-for="(q, idx) in questions"
                           v-text="rjust(idx+1)"
                           @click="switch_to(idx+1)"
                           :class="classOfQuestion(idx, q)"
                        ></a>
                    </div>
                </div>
            </div><!-- 题目索引 -->

            <div class="columns">
                <div class="column is-1">
                    <label class="label">编号</label>
                </div>
                <div class="column is-3">
                    <pre v-text="trunk.code"></pre>
                </div>
                <div class="column is-1">
                    <label class="label">等级</label>
                </div>
                <div class="column is-2">
                    <pre v-text="trunk.level"></pre>
                </div>
                <div class="column is-1">
                    <label class="label">来源</label>
                </div>
                <div class="column is-3">
                    <pre v-text="trunk.source"></pre>
                </div>
                <div class="column is-1">
                    <label class="label">标记
                        <input type="checkbox" v-model="questions[currentIndex-1].m">
                    </label>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field" v-if="trunk.en_trunk_len>0">
                        <label class="label">英文题目</label>
                        <div class="control">
                            <ckeditor type="classic" v-model="trunk.en_trunk" :config="config"
                                      :readonly="config.readonly"></ckeditor>
                        </div>
                    </div>
                    <div class="field" v-if="trunk.cn_trunk_len>0">
                        <label class="label">中文题目</label>
                        <div class="control">
                            <ckeditor type="classic" v-model="trunk.cn_trunk" :config="config"
                                      :readonly="config.readonly"></ckeditor>
                        </div>
                    </div>
                </div>
            </div>

            <quiz-options-component v-if="!hasTrunkChild" :prefix="``" :options="trunk.options"
                                    :question.sync="questions[currentIndex-1]">
            </quiz-options-component>

            <div class="container" v-if="hasTrunkChild" v-for="(trunkChild, index) in trunk.trunks">
                <hr/>
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="subtitle" v-text="`第` + (index + 1) + `题`"></div>
                        </div>
                    </div>
                </div>
                <div class="field" v-if="trunkChild.en_trunk_len>0">
                    <label class="label">英文题目</label>
                    <div class="control">
                        <ckeditor type="classic" v-model="trunkChild.en_trunk" :config="config"
                                  :readonly="config.readonly"></ckeditor>
                    </div>
                </div>
                <div class="field" v-if="trunkChild.cn_trunk_len>0">
                    <label class="label">中文题目</label>
                    <div class="control">
                        <ckeditor type="classic" v-model="trunkChild.cn_trunk" :config="config"
                                  :readonly="config.readonly"></ckeditor>
                    </div>
                </div>
                <quiz-options-component :prefix="(index + 1) + `-`" :options="trunkChild.options"
                                        :question.sync="questions[currentIndex-1]" :index="index">
                </quiz-options-component>
            </div>

            <div class="columns">
                <div class="column is-12">
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <a class="button" v-bind="{'disabled':currentIndex<=1}"
                                   @click="switch_to(currentIndex-1)">上一题</a>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="button" v-bind="{'disabled':currentIndex>=questions.length}"
                                   @click="switch_to(currentIndex+1)">下一题</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="select_quiz" v-else>
            <nav class="navbar"></nav>
            <div class="columns">
                <div class="column is-12">
                    <table class="table is-striped is-narrow is-fullwidth is-hoverable">
                        <thead>
                        <tr>
                            <td colspan="5">
                                <page-component :conf.sync="pageConf"></page-component>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input class="input is-small" type="text" v-model="kw" @keyup.enter="search()">
                            </td>
                            <td><a class="button is-small" title="查找" @click="search()">
                                <i class="fas fa-search"></i>
                            </a></td>
                        </tr>
                        <tr>
                            <th>编号</th>
                            <th>编码</th>
                            <th>名称</th>
                            <th>数量</th>
                            <th>开始</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <page-component :conf.sync="pageConf"></page-component>
                            </td>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr v-for="(item, idx) in data">
                            <td>
                                <a :href="`/quiz/view?id=` + item.entity_id"
                                   target="_blank"
                                   v-text="(pageConf.currentPage - 1) * pageConf.itemsPerPage + idx + 1"
                                   :title="item.comment"></a>
                            </td>
                            <td>
                                <a :href="`/quiz/view?id=` + item.entity_id" target="_blank" v-text="item.code"
                                   :title="item.comment"></a>
                            </td>
                            <td>
                                <a :href="`/quiz/view?id=` + item.entity_id" target="_blank" v-text="item.name"
                                   :title="item.comment"></a>
                            </td>
                            <td>
                                <a :href="`/quiz/view?id=` + item.entity_id" target="_blank" v-text="item.count"
                                   :title="item.comment"></a>
                            </td>
                            <td>
                                <div class="buttons has-addons">
                                    <a class="button is-small" title="开始测验" @click="start(item.entity_id)">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="footer has-background-white"></footer>
    </div>
    {% endraw %}
{% endblock %}
{% block script %}
    {% raw %}
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/page.js"></script>
    <script type="text/javascript" src="/ckeditor/classic/ckeditor.js"></script>
    <script type="text/javascript" src="/ckeditor/vue-ckeditor5.js"></script>
    <script type="text/javascript" src="/js/quiz_options.js"></script>
    <script>
        window.Vue.use(VueCkeditor.plugin, {
            editors: {
                classic: ClassicEditor,
                //balloon: BalloonEditor
            },
            name: 'ckeditor'
        });
        const app = new window.Vue({
            el: '#app',
            data: {
                data: [],
                pageConf: {
                    currentPage: 1,
                    totalItems: 1000,
                    itemsPerPage: 10,
                    pagesLength: 9,
                    perPageOptions: [10, 15, 30, 50, 100],
                    onChange: 'listQuiz',
                },
                keyword: '',
                kw: '',
                questions: [
                    {
                        a: '', // answer
                        m: false, // marked
                    },
                ],
                currentIndex: 1,
                trunk: {
                    code: 'code',
                    level: 'level',
                    source: 'source',
                    en_trunk: 'en_trunk',
                    cn_trunk: 'cn_trunk',
                    options: [],
                },
                hasTrunkChild: false,
                config: {
                    toolbar: [],
                    readonly: true,
                },
                index_length: 0,
            },
            mounted() {
                if (this.isTaking()) {
                    this.switch_to(0);
                }
            },
            methods: {
                hasValue(q) {
                    if (typeof q.a === 'string') {
                        return q.a.length > 0;
                    } else {
                        let r = true;
                        for (let sa of q.a) {
                            if (sa.length === 0) {
                                r = false;
                                break;
                            }
                        }
                        return r;
                    }
                },
                classOfQuestion(idx, q) {
                    if (this.currentIndex === idx + 1) {
                        return 'is-info';
                    }
                    let hv = this.hasValue(q);
                    if (q.m !== 1 && hv) {
                        return 'is-success';
                    } else if (q.m === 1 && !hv) {
                        return 'is-danger';
                    } else if (q.m === 1 && hv) {
                        return 'is-warning';
                    }
                },
                rjust(idx) {
                    return rjust(idx.toString(), this.index_length, ' ');
                },
                isTaking() {
                    let quiz = getCookie('quiz');
                    return quiz !== null;
                },
                listQuiz() {
                    axios({
                        method: 'POST',
                        url: '/quiz/api/',
                        data: {
                            page: this.pageConf.currentPage,
                            size: this.pageConf.itemsPerPage,
                            keyword: this.keyword,
                        },
                    }).then(
                        function (response) {
                            if (response.status === 200 && response.statusText === 'OK') {
                                let t = response.data;
                                this.pageConf.currentPage = t.page;
                                this.pageConf.totalItems = t.total;
                                this.pageConf.itemsPerPage = t.size;
                                this.data = t.data;
                            } else {
                                alert('请求服务失败，请检查日志');
                            }

                        }.bind(this)).catch(
                        function (error) {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                start(quizId) {
                    axios({
                        method: 'GET',
                        url: '/quiz/take/api/' + quizId,
                    }).then(
                        function (response) {
                            if (response.status === 200 &&
                                response.statusText === 'OK' &&
                                response.data.result) {
                                // 设置cookie完成
                                if (this.isTaking()) {
                                    window.location.reload();
                                }
                            } else {
                                alert('请求服务失败，请检查日志');
                            }
                        }.bind(this)).catch(
                        function (error) {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                switch_to: function (switchIdx) {
                    if (switchIdx < 0) {
                        return;
                    } else if (switchIdx === 0) {
                        this._switchIdx = 1;
                    } else if (switchIdx > this.questions.length) {
                        return;
                    } else {
                        this._switchIdx = switchIdx;
                    }
                    let url = '/quiz/take/api/' + (switchIdx === 0 ? 0 : this._switchIdx);
                    let postData = switchIdx === 0 ? {} : {
                        index: this.currentIndex,
                        answer: this.questions[this.currentIndex - 1].a,
                        marked: this.questions[this.currentIndex - 1].m ? 1 : 0,
                    };

                    axios({
                        method: 'POST',
                        url: url,
                        data: postData,
                    }).then(
                        function (response) {
                            if (response.status === 200 &&
                                response.statusText === 'OK') {
                                this.questions = response.data['questions'];
                                if (this.index_length === 0) {
                                    this.index_length = (this.questions.length + 1).toString().length;
                                }
                                this.trunk = response.data['trunk'];
                                let question = this.questions[this._switchIdx - 1];
                                if (typeof this.trunk.trunks === 'undefined') {
                                    this.hasTrunkChild = false;
                                    mergeOptions(this.trunk.options);
                                } else {
                                    this.hasTrunkChild = true;
                                    if (question.a === '') {
                                        question.a = [];
                                        for (let i = 0; i < this.trunk.trunks.length; i++) {
                                            question.a.push('');
                                        }
                                    }
                                    for (let trunk of this.trunk.trunks) {
                                        mergeOptions(trunk.options);
                                    }
                                }
                                this.currentIndex = this._switchIdx;
                            } else {
                                alert('请求服务失败，请检查日志');
                            }
                        }.bind(this)).catch(
                        function (error) {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                exit() {
                    let r = confirm('退出的话会导致该次测验结果丢失。确实要退出吗？');
                    if (!r) {
                        return;
                    }
                    r = confirm('再次确认，确实要退出吗？');
                    if (!r) {
                        return;
                    }
                    axios({
                        method: 'DELETE',
                        url: '/quiz/take/api/',
                    }).then(
                        function (response) {
                            if (response.status === 200 &&
                                response.statusText === 'OK' &&
                                response.data.result) {
                                alert('成功退出。');
                                window.location.reload();
                            } else {
                                alert('请求服务失败，请检查日志');
                            }
                        }.bind(this)).catch(
                        function (error) {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
                submit() {
                    // 检查未完成题目、检查被标记题目
                    let prefix = '';
                    for (let q of this.questions) {
                        if (q.a === null || q.a.length === 0) {
                            prefix = '还有题目未完成。';
                            break;
                        }
                    }
                    if (prefix.length === 0) {
                        for (let q of this.questions) {
                            if (q.m) {
                                prefix = '还有题目被标记。';
                                break;
                            }
                        }
                    }
                    let r = confirm(prefix + '确实要提交吗？');
                    if (!r) {
                        return;
                    }
                    r = confirm(prefix + '再次确认，确实要提交吗？');
                    if (!r) {
                        return;
                    }
                    let data = {
                        index: this.currentIndex,
                        answer: this.questions[this.currentIndex - 1].a,
                        marked: this.questions[this.currentIndex - 1].m ? 1 : 0,
                    }; // 最后还要提交一次结果
                    axios({
                        method: 'PUT',
                        url: '/quiz/take/api/',
                        data: data,
                    }).then(
                        function (response) {
                            if (response.status === 200 &&
                                response.statusText === 'OK' &&
                                response.data.result) {
                                alert('成功退出。');
                                window.location.reload();
                            } else {
                                alert('请求服务失败，请检查日志');
                            }
                        }.bind(this)).catch(
                        function (error) {
                            alert('请求服务失败，请检查日志。' + error);
                        }
                    );
                },
            },
        });
    </script>
    {% endraw %}
{% endblock %}
