{% extends "base/base.html" %}
{% whitespace all %}
{% block body %}
<div class="container-fluid py-4" id="app">
    <div class="row">
        <nav class="col-sm-2 navbar">
                <div class="col-sm-12 d-flex flex-wrap" style="height: 800px; overflow-y: auto">
                    <div class="m-sm-1 d-flex align-items-center justify-content-center trunk-index" v-for="item in n">
                        <a v-text="item"></a>
                    </div>
                    <div class="m-sm-1 d-flex align-items-center justify-content-center trunk-index">
                        <a>2000</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            aaa
        </div>
    </div>
    <div class="clearfix">footer</div>
</div>
{% end %}
{% block script %}
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/page.js"></script>
    <script type="text/javascript" src="/ckeditor/classic/ckeditor.js"></script>
    <script type="text/javascript" src="/ckeditor/vue-ckeditor5.js"></script>
    <script type="text/javascript" src="/js/quiz_options.js"></script>
    <script>
        window.Vue.use(VueCkeditor.plugin, {
            editors: {
                classic: ClassicEditor,
                //balloon: BalloonEditor
            },
            name: 'ckeditor'
        });
        window.app = new window.Vue({
            el: '#app',
            data: {
                n: [],
            },
            created() {
                for (let i = 0; i <= 200; i++) {
                    this.n.push(i);
                }
            },
        });
    </script>
{% end %}